@media only screen and (max-width: 960px) {
  main .two-column--primary {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  main .two-column--primary .main-element {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  main .two-column--primary .main-element .card-container,
  main .two-column--primary .main-element .table {
    width: 100%;
  }
  main .two-column--primary .aside-element {
    margin-top: 30px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  main .two-column--primary .aside-element .total-sale {
    margin-top: 0;
  }
  main .two-column--secondary {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  header .icon-wrapper .bi,
  header .header-brand {
    display: none;
  }
  header .admin-wrapper .ellipse {
    bottom: 0;
  }
  header .admin-details {
    width: 300px;
  }
  main .two-column--secondary .left-element .graph {
    margin-top: 30px;
    padding: 15px;
  }
  main .two-column--secondary .right-element .social-source {
    margin-top: 10px;
  }
  main .table {
    width: 100%;
  }
  main .table .table__body thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  main .table .table__body tr {
    display: block;
    margin-bottom: 15px;
  }
  main .table .table__body tr:hover {
    background-color: transparent;
  }
  main .table .table__body td {
    display: block;
    text-align: right;
    border-top: none;
    border-bottom: 1px solid #f0f0f0;
  }
  main .table .table__body td::before {
    content: attr(data);
    float: left;
    font-weight: 700;
  }
  main .table .table__body td:last-child {
    border-bottom: 2px solid #c7c7c7;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .table .table__body td:last-child span {
    display: none;
  }
  footer .icon-wrapper .icon span {
    height: 30px;
    width: 30px;
  }
  footer .icon-wrapper .icon span i {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 12px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  header {
    padding: 10px;
  }
  header .search-wrapper {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  header .search-wrapper.active {
    border-radius: 10px;
    width: 200px;
  }
  header .search-wrapper .cancel-icon {
    font-size: 1.5rem;
  }
  header .admin-wrapper img {
    margin-right: 0;
  }
  header .admin-details {
    width: 250px;
    top: 70px;
    right: 5px;
  }
  main {
    padding: 0 10px;
    margin-top: 100px;
  }
  main .two-column--primary .main-element .card-main-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
  main .two-column--primary .aside-element {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 0;
  }
  main .two-column--primary .aside-element .card-aside {
    margin-bottom: 20px;
  }
  main .two-column--primary .aside-element .total-sale {
    margin-top: -10px;
  }
  main .chat {
    bottom: 0px;
    right: 0px;
  }
  main .chat #chat-start:checked ~ .chat-wrapper {
    bottom: 60px;
  }
  main .chat label {
    right: 10px;
    bottom: 10px;
    height: 40px;
    width: 40px;
    font-size: 20px;
  }
  main .chat .chat-wrapper {
    right: 10px;
    max-width: 285px;
  }
  main .chat .chat-wrapper .chat-wrapper__body .chat-message {
    padding: 10px 15px;
    min-height: 280px;
    max-height: 280px;
  }
  footer .icon-wrapper .icon span {
    height: 20px;
    width: 20px;
  }
  footer .icon-wrapper .icon span i {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  main {
    padding: 0 0;
  }
}
/*# sourceMappingURL=responsive.css.map */