@media only screen and (max-width: 960px) {
  main .two-column--primary {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  main .two-column--primary .main-element {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  main .two-column--primary .main-element .card-container,
  main .two-column--primary .main-element .table {
    width: 100%;
  }
  main .two-column--primary .aside-element {
    margin-top: 30px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  main .two-column--primary .aside-element .total-sale {
    margin-top: 0;
  }
  main .two-column--secondary {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  header .icon-wrapper .bi,
  header .header-brand {
    display: none;
  }
  header .admin-wrapper .ellipse {
    bottom: 0;
  }
  main .two-column--secondary .left-element .graph {
    margin-top: 30px;
    padding: 15px;
  }
  main .two-column--secondary .right-element .social-source {
    margin-top: 10px;
  }
  main .table {
    width: 100%;
  }
  main .table .table__body thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  main .table .table__body tr {
    display: block;
    margin-bottom: 15px;
  }
  main .table .table__body td {
    display: block;
    text-align: right;
    border-top: none;
    border-bottom: 1px solid #f0f0f0;
  }
  main .table .table__body td::before {
    content: attr(data);
    float: left;
    font-weight: 700;
  }
  main .table .table__body td:last-child {
    border-bottom: 2px solid #c7c7c7;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .table .table__body td:last-child span {
    display: none;
  }
  footer .icon-wrapper .icon span {
    height: 30px;
    width: 30px;
  }
  footer .icon-wrapper .icon span i {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 12px;
  }
  header {
    padding: 10px;
  }
  header .search-wrapper {
    width: 230px;
  }
  header .admin-wrapper img {
    margin-right: 0;
  }
  header .admin-info {
    display: none;
  }
  main {
    margin-top: 100px;
  }
  main .two-column--primary .main-element .card-main-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
  main .two-column--primary .aside-element {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 0;
  }
  main .two-column--primary .aside-element .card-aside {
    margin-bottom: 20px;
  }
  main .two-column--primary .aside-element .total-sale {
    margin-top: -10px;
  }
  footer .icon-wrapper .icon span {
    height: 20px;
    width: 20px;
  }
  footer .icon-wrapper .icon span i {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=responsive.css.map */