@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e3f2fd;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#008cff));
  background: linear-gradient(transparent, #008cff);
  border-radius: 6px;
}

.title {
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#051937), color-stop(#004d7a), color-stop(#008793), color-stop(#00bf72), to(#a8eb12));
  background: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: width 300ms;
  transition: width 300ms;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}

.sidebar .darkmode-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.sidebar .darkmode-toggle i.bi-brightness-high-fill {
  font-size: 1.7rem;
  color: orange;
}

.sidebar .darkmode-toggle i.bi-moon-stars {
  font-size: 1.7rem;
  color: yellow;
}

.sidebar .darkmode-toggle .darkmode-switch {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: #dbd8d8;
  position: relative;
}

.sidebar .darkmode-toggle .darkmode-switch::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  background-color: #0652dd;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.sidebar .darkmode-toggle .darkmode-switch.active::before {
  left: 50%;
}

.sidebar .sidebar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar .sidebar-brand i {
  font-size: 2.5rem;
}

.sidebar .sidebar-brand img {
  width: 50%;
  display: block;
  margin: 10px auto 0 auto;
}

.sidebar .sidebar-menu {
  padding: 0 0 0 15px;
  margin-top: 30px;
}

.sidebar .sidebar-menu h1 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.sidebar .sidebar-menu hr {
  margin: 30px 0;
}

.sidebar .sidebar-menu li {
  width: 100%;
  margin-bottom: 15px;
}

.sidebar .sidebar-menu a {
  display: block;
  color: #666;
  font-size: 1rem;
  padding: 5px 15px;
}

.sidebar .sidebar-menu a.active {
  color: #fff;
  background-color: #008cff;
  border-radius: 30px 0 0 30px;
  padding: 15px;
}

.sidebar .sidebar-menu a:hover {
  color: #fff;
  background-color: #008cff;
  border-radius: 30px 0 0 30px;
  opacity: 0.8;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.sidebar .sidebar-menu i {
  font-size: 1.6rem;
  margin-right: 10px;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

#nav-toggle:checked ~ .main-content header .header-brand img {
  display: block;
}

#nav-toggle:checked ~ .main-content main {
  margin-left: 0;
}

#nav-toggle:checked ~ .main-content footer {
  left: 0;
  width: 100%;
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-menu a {
  padding: 0 10px;
}

#nav-toggle:checked + .sidebar .sidebar-menu a.active {
  padding: 10px;
}

#nav-toggle:checked + .sidebar .sidebar-brand {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar .sidebar-brand img,
#nav-toggle:checked + .sidebar .sidebar-menu li a span:last-child,
#nav-toggle:checked + .sidebar .sidebar-menu h1,
#nav-toggle:checked + .sidebar .darkmode-toggle .darkmode-switch {
  display: none;
}

#nav-toggle:checked + .sidebar .darkmode-toggle {
  display: block;
}

#nav-toggle ~ .main-content {
  margin-left: 70px;
}

.main-content {
  -webkit-transition: margin-left 300ms;
  transition: margin-left 300ms;
  margin-left: 250px;
}

header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  position: fixed;
  left: 250px;
  width: calc(100% - 250px);
  top: 0;
  z-index: 999;
  -webkit-transition: left 300ms;
  transition: left 300ms;
  -webkit-box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
          box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

header .header-brand img {
  display: none;
  max-width: 120px;
}

header .search-wrapper {
  border: 1px solid #ccc;
  background-color: #fafafa;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  padding: 0 15px;
}

header .search-wrapper i:first-child {
  font-size: 1rem;
  margin-right: 15px;
}

header .search-wrapper i:last-child {
  background-color: #ede7f6;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.5rem;
}

header .search-wrapper input {
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

header .admin-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .admin-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

header .admin-wrapper .ellipse {
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 5px;
}

header .admin-wrapper h4 {
  font-size: 1rem;
}

header .admin-wrapper small {
  display: inline-block;
  font-size: 0.8rem;
}

main {
  padding: 0 24px;
  margin: 120px 0 60px 180px;
  -webkit-transition: margin-left 300ms;
  transition: margin-left 300ms;
  min-height: calc(100vh - 90px);
  position: relative;
}

main .two-column--primary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-column-gap: 30px;
}

main .two-column--primary .main-element .card-main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
  width: 100%;
}

main .two-column--primary .main-element .card-main-container .card-main {
  padding: 25px;
  border-radius: 10px;
  color: #fafafa;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 20px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 20px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

main .two-column--primary .main-element .card-main-container .card-main .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 14px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

main .two-column--primary .main-element .card-main-container .card-main h1 {
  font-size: 2.5rem;
  display: inline-block;
  margin: 10px 10px 10px 0;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

main .two-column--primary .main-element .card-main-container .card-main h2 {
  font-size: 1rem;
}

main .two-column--primary .main-element .card-main-container .card-main:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  -webkit-animation: animatedBackground 5s linear infinite alternate;
          animation: animatedBackground 5s linear infinite alternate;
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

main .two-column--primary .main-element .card-main-container .card__income--darkpurple {
  background-color: #5e35b1;
}

main .two-column--primary .main-element .card-main-container .card__expences--lightblue {
  background-color: #00d9ff;
}

main .two-column--primary .main-element .card-main-container .card__cash--lightpurple {
  background-color: #a66dd4;
}

main .two-column--primary .main-element .card-main-container .card__order--darkblue {
  background-color: #1e88e5;
}

main .two-column--primary .aside-element h2 {
  font-size: 1.1rem;
}

main .two-column--primary .aside-element .card-aside {
  border-radius: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #008cff;
  color: #fff;
  font-weight: 500;
}

main .two-column--primary .aside-element .card-aside i {
  font-size: 2.5rem;
  margin-right: 20px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #003a7b;
}

main .two-column--primary .aside-element .card-aside p {
  font-size: 0.8rem;
}

main .two-column--primary .aside-element .card-aside:hover {
  text-shadow: 0 0 10px white, 0 0 50px rgba(255, 255, 255, 0.8), 0 0 75px rgba(255, 255, 255, 0.6), 0 0 76px rgba(255, 255, 255, 0.4), 0 0 77px rgba(255, 255, 255, 0.5), 0 0 78px rgba(255, 255, 255, 0.4), 0 0 79px rgba(255, 255, 255, 0.3), 0 0 80px rgba(255, 255, 255, 0.2), 0 0 85px rgba(255, 255, 255, 0.1);
}

main .two-column--primary .aside-element .total-sale {
  background-color: #008cff;
  width: 100%;
  padding: 5px 0;
  margin-top: 35px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .two-column--primary .aside-element .total-sale h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

main .two-column--primary .aside-element .total-sale .circle-wrap {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
}

main .two-column--primary .aside-element .total-sale .circle-wrap .circle .mask,
main .two-column--primary .aside-element .total-sale .circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

main .two-column--primary .aside-element .total-sale .circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

main .two-column--primary .aside-element .total-sale .circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background: #00ff62;
}

main .two-column--primary .aside-element .total-sale .circle-wrap .circle .mask.full,
main .two-column--primary .aside-element .total-sale .circle-wrap .circle .fill {
  -webkit-animation: fill ease-in-out 3s;
          animation: fill ease-in-out 3s;
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}

@-webkit-keyframes fill {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
  }
}

@keyframes fill {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
  }
}

main .two-column--primary .aside-element .total-sale .circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 14px 2px rgba(0, 0, 0, 0.1), 0px 25px 30px rgba(0, 0, 0, 0.1);
}

main .two-column--primary .aside-element .total-sale:hover {
  text-shadow: 0 0 10px white, 0 0 50px rgba(255, 255, 255, 0.8), 0 0 75px rgba(255, 255, 255, 0.6), 0 0 76px rgba(255, 255, 255, 0.4), 0 0 77px rgba(255, 255, 255, 0.5), 0 0 78px rgba(255, 255, 255, 0.4), 0 0 79px rgba(255, 255, 255, 0.3), 0 0 80px rgba(255, 255, 255, 0.2), 0 0 85px rgba(255, 255, 255, 0.1);
}

main .two-column--secondary {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-column-gap: 30px;
}

main .two-column--secondary .left-element .graph {
  width: 99%;
  background-color: #008cff;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

main .two-column--secondary .left-element .graph h1 {
  font-size: 1rem;
  color: #aafff8;
}

main .two-column--secondary .left-element .graph canvas {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}

main .two-column--secondary .left-element .graph:hover {
  background-color: #003a7b;
}

main .two-column--secondary .left-element .graph:hover h1 {
  color: #07ffde;
}

main .two-column--secondary .right-element .social-source {
  background-color: #fff;
  margin-top: 50px;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main .two-column--secondary .right-element .social-source .title {
  margin-bottom: 30px;
}

main .two-column--secondary .right-element .social-source .sales {
  border-top: 1px solid #c4c3c3;
  border-bottom: 1px solid #c4c3c3;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .two-column--secondary .right-element .social-source .sales .tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: -100px;
  color: #fff;
  padding: 10px 18px;
  font-size: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main .two-column--secondary .right-element .social-source .sales .social-media h3 {
  display: inline;
  font-size: 0.8rem;
}

main .two-column--secondary .right-element .social-source .sales .social-media i {
  margin-right: 8px;
}

main .two-column--secondary .right-element .social-source .sales .social-media i.bi-facebook {
  color: #3b5898;
}

main .two-column--secondary .right-element .social-source .sales .social-media i.bi-instagram {
  color: #9361fa;
}

main .two-column--secondary .right-element .social-source .sales .social-media i.bi-whatsapp {
  color: #00e676;
}

main .two-column--secondary .right-element .social-source .sales .social-media i.bi-twitter {
  color: #1ea2f2;
}

main .two-column--secondary .right-element .social-source .sales .social-media i.bi-youtube {
  color: #da1f26;
}

main .two-column--secondary .right-element .social-source .sales .social-media i.bi-shop {
  color: #f73e0b;
}

main .two-column--secondary .right-element .social-source .sales .social-sales h3 {
  font-size: 0.9rem;
}

main .two-column--secondary .right-element .social-source .sales:hover {
  background-color: rgba(7, 255, 222, 0.2);
}

main .two-column--secondary .right-element .social-source .sales:hover .tooltip {
  display: block;
}

main .two-column--secondary .right-element .social-source .facebook:hover .tooltip {
  background-color: #3b5898;
}

main .two-column--secondary .right-element .social-source .instagram:hover .tooltip {
  background-color: #9361fa;
}

main .two-column--secondary .right-element .social-source .whatsapp:hover .tooltip {
  background-color: #00e676;
}

main .two-column--secondary .right-element .social-source .twitter:hover .tooltip {
  background-color: #1ea2f2;
}

main .two-column--secondary .right-element .social-source .youtube:hover .tooltip {
  background-color: #da1f26;
}

main .two-column--secondary .right-element .social-source .online-marketplace:hover .tooltip {
  background-color: #f73e0b;
}

main .two-column--secondary .right-element .social-source hr {
  border-top: 1px solid #e9e0e0;
  margin: 15px 0;
}

main .two-column--secondary .right-element .social-source .sales-detail {
  margin-top: 20px;
}

main .two-column--secondary .right-element .social-source .sales-detail p {
  text-align: center;
  font-size: 0.8rem;
  color: #5969ff;
}

main .two-column--secondary .right-element .social-source .sales-detail i {
  display: none;
}

main .two-column--secondary .right-element .social-source .sales-detail:hover {
  cursor: pointer;
}

main .two-column--secondary .right-element .social-source .sales-detail:hover i {
  display: inline-block;
}

main .two-column--secondary .right-element .piechart {
  background-color: #fff;
  margin-top: 50px;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 99%;
}

main .two-column--secondary .right-element .piechart .title {
  margin-bottom: 10px;
  text-align: center;
}

main .two-column--secondary .right-element .piechart canvas {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
}

main .table {
  background: #fff;
  border-radius: 10px;
  margin: 50px auto 0 auto;
  width: 100%;
  max-width: 100%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 10px;
}

main .table thead {
  background-color: #8c8cff;
}

main .table thead th {
  font-size: 0.8rem;
  padding: 10px 0;
}

main .table .table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  border-radius: 10px 10px 0 0;
}

main .table .table__header h1 {
  font-size: 1.2rem;
}

main .table .table__header .button {
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 10px 20px;
  margin: 0;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

main .table .table__header .button::before,
main .table .table__header .button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .table .table__header .button--mimas {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #fff;
  background: #019c87;
}

main .table .table__header .button--mimas span {
  position: relative;
}

main .table .table__header .button--mimas::before {
  content: "";
  background: #8c8cff;
  width: 120%;
  left: -10%;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1), -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

main .table .table__header .button--mimas:hover::before {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

main .table .table__body {
  padding: 15px;
}

main .table .table__body table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

main .table .table__body td {
  padding: 8px 15px;
  font-size: 0.8rem;
  border-top: 1px solid #f0f0f0;
}

main .table .table__body td img {
  max-width: 100%;
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .table .table__body td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 15px;
}

main .table .table__body td .status.red {
  background: #fa2121;
}

main .table .table__body td .status.orange {
  background: #ffb937;
}

main .table .table__body td .status.green {
  background: #24cc03;
}

main .table .table__body tr:hover {
  background-color: rgba(7, 255, 222, 0.2);
}

footer {
  margin-top: 100px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  left: 180px;
  width: calc(100% - 180px);
  -webkit-transition: left 300ms;
  transition: left 300ms;
}

footer p {
  text-align: center;
}

footer p i {
  color: red;
}

footer .icon-wrapper {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer .icon-wrapper .icon {
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

footer .icon-wrapper .icon span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

footer .icon-wrapper .icon span i {
  font-size: 1.5rem;
}

footer .icon-wrapper .icon span i.bi-facebook {
  color: #3b5898;
}

footer .icon-wrapper .icon span i.bi-twitter {
  color: #1ea2f2;
}

footer .icon-wrapper .icon span i.bi-instagram {
  color: #9361fa;
}

footer .icon-wrapper .icon span i.bi-youtube {
  color: #da1f26;
}

footer .icon-wrapper .facebook:hover span {
  background-color: #3b5898;
}

footer .icon-wrapper .facebook:hover span i.bi-facebook {
  color: #fff;
}

footer .icon-wrapper .twitter:hover span {
  background-color: #1ea2f2;
}

footer .icon-wrapper .twitter:hover span i.bi-twitter {
  color: #fff;
}

footer .icon-wrapper .instagram:hover span {
  background-color: #9361fa;
}

footer .icon-wrapper .instagram:hover span i.bi-instagram {
  color: #fff;
}

footer .icon-wrapper .youtube:hover span {
  background-color: #da1f26;
}

footer .icon-wrapper .youtube:hover span i.bi-youtube {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */