$facebook: #3b5898;
$instagram: #9361fa;
$whatsapp: #00e676;
$twitter: #1ea2f2;
$youtube: #da1f26;
$online-marketplace: #f73e0b;
$darkmodeblue: #003a7b;
$lightmodeblue: #008cff;
$darkmode-color: #1a191f;
