@media only screen and (max-width: 960px) {
  main {
    .two-column--primary {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;

      .main-element {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .card-container,
        .table {
          width: 100%;
        }
      }

      .aside-element {
        margin-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .total-sale {
          margin-top: 0;
        }
      }
    }

    .two-column--secondary {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  header {
    .icon-wrapper .bi,
    .header-brand {
      display: none;
    }

    .admin-wrapper {
      .ellipse {
        bottom: 0;
      }
    }

    .admin-details {
      width: 300px;
    }
  }

  main {
    .two-column--secondary {
      .left-element {
        .graph {
          margin-top: 30px;
          padding: 15px;
        }
      }

      .right-element {
        .social-source {
          margin-top: 10px;
        }
      }
    }

    .table {
      width: 100%;
      .table__body {
        thead {
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        tr {
          display: block;
          margin-bottom: 15px;
        }

        tr:hover {
          background-color: transparent;
        }

        td {
          display: block;
          text-align: right;
          border-top: none;
          border-bottom: 1px solid #f0f0f0;
        }

        td::before {
          content: attr(data);
          float: left;
          font-weight: 700;
        }

        td:last-child {
          border-bottom: 2px solid #c7c7c7;
          justify-content: space-between;

          span {
            display: none;
          }
        }
      }
    }
  }

  footer {
    .icon-wrapper {
      .icon {
        span {
          height: 30px;
          width: 30px;
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 12px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  header {
    padding: 10px;

    .search-wrapper {
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &.active {
        border-radius: 10px;
        width: 200px;
      }

      .cancel-icon {
        font-size: 1.5rem;
      }
    }

    .admin-wrapper {
      img {
        margin-right: 0;
      }
    }

    .admin-details {
      width: 250px;
      top: 70px;
      right: 5px;
    }
  }

  main {
    padding: 0 10px;
    margin-top: 100px;
    .two-column--primary {
      .main-element {
        .card-main-container {
          grid-template-columns: 1fr;
          gap: 20px;
        }
      }

      .aside-element {
        grid-template-columns: 1fr;
        margin-top: 0;

        .card-aside {
          margin-bottom: 20px;
        }

        .total-sale {
          margin-top: -10px;
        }
      }
    }

    .chat {
      bottom: 0px;
      right: 0px;

      #chat-start {
        &:checked ~ .chat-wrapper {
          bottom: 60px;
        }
      }

      label {
        right: 10px;
        bottom: 10px;
        height: 40px;
        width: 40px;
        font-size: 20px;
      }

      .chat-wrapper {
        right: 10px;
        max-width: 285px;

        .chat-wrapper__body {
          .chat-message {
            padding: 10px 15px;
            min-height: 280px;
            max-height: 280px;
          }
        }
      }
    }
  }

  footer {
    .icon-wrapper {
      .icon {
        span {
          height: 20px;
          width: 20px;
          i {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  main {
    padding: 0 0;
  }
}
